@page "/Article"
@using iOSClub.Share
@using iOSClub.Share.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SignContext> DbFactory
@inject NavigationManager Nav

<PageTitle>社团文章 - 西建大iOS Club</PageTitle>

<meta name="referrer" content="never">

<Title Level="1" Style="text-align: center">
    社团文章
</Title>
<GridRow Gutter="16" Style="padding: 10px">
    @foreach (var context in Models)
    {
        <GridCol Xs="24" Sm="24" Md="24" Lg="12" Xl="12" Xxl="12">
            <Card Hoverable Class="div">
                <Flex Justify="space-between">
                    <img alt="@context.Title"
                         src="@context.Cover"
                         style="width:273px;" class="desktop-phone"/>
                    <Flex Vertical Align="flex-end" Justify="space-between" Style="padding: 32px;">
                        <Title Level="3">
                            @context.Title
                        </Title>
                        <a href="@context.Link" target="_blank">
                            <Button Type="@ButtonType.Primary">
                                去看看
                            </Button>
                        </a>
                    </Flex>
                </Flex>
            </Card>
        </GridCol>
    }
</GridRow>

@code {

    private EventModel[] Models { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        Models = await context.Events.ToArrayAsync();
        await base.OnInitializedAsync();
    }

}

<style>
    .div{
        margin: 10px;
        height: 270px;
        max-width: 100%;
        background: #f3f5f7;
        border-radius: 10px;
    }
    main{
        background: #ffffff;
    }

</style>