@page "/"

<PageTitle>主页 - 西建大iOS Club</PageTitle>

<div @onwheel="FirstWheel">
    <GridRow Class="block" Align="center" Type="flex">
        <GridCol Style="text-align: center" Xs="24" Sm="24" Md="24" Lg="24" Xl="9" Xxl="9">
            <div style="text-align: center">
                <Image Src="iOS_Club_LOGO.png" Preview="false" Style="width:75%;text-align: center"/>
                <div class="desktop-phone">
                    <Progress Percent="@Percent" ShowInfo="false" Style="width:75%;margin: 10px"></Progress>
                    <Space style="text-align: center">
                        <SpaceItem>
                            <Button Type="@ButtonType.Text">
                                <Icon Type="step-backward" Class="card-d" Theme="outline"/>
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Text">
                                <Icon Type="pause" Class="card-d" Theme="outline"/>
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Text">
                                <Icon Type="step-forward" Class="card-d" Theme="outline"/>
                            </Button>
                        </SpaceItem>
                    </Space>
                </div>
            </div>
        </GridCol>
        <GridCol Xs="24" Sm="24" Md="24" Lg="24" Xl="15" Xxl="15">
            <div class="gradient-text">XAUAT iOS Club</div>
            <div class="phone-desktop">
                <Title Level="3" Style="text-align: center">一个跨专业与课堂的数码开发爱好者社团</Title>
                <Paragraph Type="secondary" Style="text-align: center;font-size: 22px">
                    "Stay hungry, stay foolish"
                </Paragraph>
            </div>
            <div class="desktop-phone">
                <Title Level="1" Style="color: #3c3c43">
                    西安建筑科技大学iOS众创空间俱乐部
                </Title>
                @for (var i = 0; i < Lyc.Length; i++)
                {
                    <h6 class="@(Math.Abs(i * 10 + 30 - Percent + 10) < 5 ? "Lyr-Display" : "") first-button">
                        @Lyc[i]
                    </h6>
                }
            </div>
        </GridCol>
    </GridRow>

    <div class="block-opacity">
        <Title Level="2" Style="text-align: center" Class="desktop-phone">
            关于我们
        </Title>
        <GridRow Class="block">
            @foreach (var item in Cards)
            {
                <GridCol Xs="24" Sm="24" Md="24" Lg="12" Xl="8" Xxl="8">
                    @if (string.IsNullOrEmpty(item.Url))
                    {
                        <Card Hoverable Class="card">
                            <div class="card-d">@item.ImageUrl</div>
                            <h3>@item.Title</h3>
                            <Paragraph Type="secondary">@item.Content</Paragraph>
                        </Card>
                    }
                    else
                    {
                        <a href="@item.Url" target="_blank">
                            <Card Hoverable Class="card">
                                <div class="card-d">@item.ImageUrl</div>
                                <h3>@item.Title</h3>
                                <Paragraph Type="secondary">@item.Content</Paragraph>
                            </Card>
                        </a>
                    }
                </GridCol>
            }
        </GridRow>
    </div>
</div>


@code {
    private double Percent { get; set; } = 30;
    [CascadingParameter] public bool IsMobile { get; set; }

    private record CardModel(string ImageUrl, string Title, string Content, string Url = "");

    private string[] Lyc { get; set; } =
    [
        "这里是",
        "梦想家们改变世界的起点",
        "一个跨专业与课堂的数码开发爱好者社团",
        "跨越学科，体验编程与开发的魅力",
        "创造人生，开发非同凡响的APP"
    ];

    private static CardModel[] Cards =>
    [
        new CardModel("\ud83c\udf4e", "我们是谁?", "我们是由Apple公司资金支持，受南山书院和西安建筑科技大学大学生创新创业实践中心指导的学术型学生团体。", "/About"),
        new CardModel("\ud83e\udd1d", "和iOS Club一起结伴同行", "不管是零基础的小白还是大神，只要你有兴趣，这里就是你的天堂","/Article"),
        new CardModel("\ud83c\udf10", "iOS Club,不止iOS", "我们不止只有iOS，西建大iOS Club是一个跨专业与课堂的数码编程爱好者社团","OtherOrg"),
        new CardModel("\ud83d\ude00", "Apple \u2716\ufe0f 西建大", "苹果每个学期都会在学校举办大大小小的活动，快来参与", "/Event"),
        new CardModel("\ud83d\udc69\ud83c\udffb\u200d\ud83d\udcbb", "合作软件开发", "加入我们，和志同道合的iMember一起合作开发，一起创造世界"),
        new CardModel("\ud83d\udcc8", "全校数码编程爱好者,联合起来！", "我们意图打造全校最大的科技社区，快来加入我们成为一名iMember吧", "/Login")
    ];

    private void FirstWheel(WheelEventArgs obj)
    {
        if ((Math.Abs(Percent - 100.0) < 0.01 && obj.DeltaY > 0) || (Math.Abs(Percent - 30.0) < 0.01 && obj.DeltaY < 0) || IsMobile) return;
        Percent += obj.DeltaY * 0.1;
        if (Percent - 30 < 0.01) Percent = 30;
        if (Percent - 100 > 0.01) Percent = 100;
    }

}

<style>
    .gradient-text {
        background: -webkit-linear-gradient(-64deg, #f9bf65, #ffab6b, #ff9977, #fc8986, #ef7e95, #e47da6, #d37fb5, #bf83c1, #ab8dcf, #9597d8, #7fa0dc, #6ca7da);
        -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
        -webkit-text-fill-color: transparent; /*给文字设置成透明*/
        font-size: 56px;
        font-weight: bold;
    }

    .block {
        padding: 40px;
        min-height: 80vh;
    }

    .card {
        margin: 10px;
        height: 200px;
        max-width: 100%;
        border-radius: 10px;
        background: #f6f6f7;
    }
    
    .block-opacity{
        opacity: @(IsMobile || Percent >= 70 ? 1 : (Percent - 30) / 30);
    }

    .first-button {
        width: 100%;
        border-radius: 10px;
        font-size: 22px;
    }

    .first-button:hover {
        animation: LyrButtonHover 0.2s ease;
        transform: scale(1.02);
        background: #f6f6f7;
        font-weight: bold;
        padding-left: 10px;
    }

    .first-button:not(:hover) {
        animation: LyrButtonNotHover 0.2s ease;
    }

    .Lyr-Display{
        animation: LyrButtonMove 0.2s ease;
        transform: scale(1.02);
        background: #f6f6f7;
        font-weight: bold;
        padding: 10px;
    }
    
    .card-d{
        font-size: 22px;
    }

    @@keyframes LyrButtonHover {
        0% {
            padding-left: 0;
            transform: scale(1)
        }

        100% {
            padding-left: 10px;
            transform: scale(1.02)
        }
    }

    @@keyframes LyrButtonNotHover {
        0% {
            padding-left: 10px;
            transform: scale(1.02)
        }
        100% {
            padding-left: 0;
            transform: scale(1)
        }
    }

    @@keyframes LyrButtonMove {
        0% {
            padding: 0;
            transform: scale(1)
        }

        100% {
            padding: 10px;
            transform: scale(1.02)
        }
    }
</style>