@using iOSClub.Share.Data
<div class="header-box">
    <h1 class="logo">XAUAT iOS Club</h1>
    <nav class="navbar-expand">
        <ul class="nav-menu">
            @foreach (var item in NavLists)
            {
                <NavLink class="header-nav-item" href="@item.Url" Match="NavLinkMatch.All">@item.Name</NavLink>
            }
        </ul>
    </nav>
    <div class="phone-menu-btn">
        <Icon Type="menu" OnClick="@open" Theme="outline"/>
    </div>
</div>

<Drawer MaskClosable="true" Visible="visible" Closable="false" OnClose="@close" Width="160" Placement="right">
    @foreach (var item in NavLists)
    {
        <p @onclick="@close">
            <NavLink class="nav-item" href="@item.Url" Match="NavLinkMatch.All">@item.Name</NavLink>
        </p>
    }
</Drawer>

@code {
    [Parameter] public List<NavModel> NavLists { get; set; } = new();
    bool visible = false;

    void open()
    {
        visible = true;
    }

    void close() => visible = false;

}

<style>
    .header-nav-item {
        font-size: 18px;
        color: #f5f5f7;
        align-items: center;
        justify-content: space-between;
    }
    
    .header-nav-item:hover {
        text-decoration: underline;
    }
    
    .header-box {
        padding-left: 10px;
        padding-right: 10px;
        color: #333;
        border-radius: 10px;
        /* 添加圆角 */
        overflow: hidden;
        /* 防止子元素超出边界 */
        display: flex;
        scroll-snap-align: end;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    }
</style>