@page "/Centre/Tool"
@using iOSClub.Share
@using iOSClub.Share.Data
@using iOSClub.Table.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SignContext> DbFactory
@inject NavigationManager Nav
@inject MessageService MessageService

<meta name="referrer" content="never">

<PageView Style="min-height: 100%" ContextStyle="padding: 10px;">
    <Extra>
        @if (IsAdmin)
        {
            <Button Type="@ButtonType.Primary" OnClick="@OpenModal">添加工具</Button>
        }
    </Extra>
    <Context>
        @if (Tools.Count == 0)
        {
            <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" Style="padding: 20px">
                <DescriptionTemplate>
                    <span>社团目前还没有工具</span>
                </DescriptionTemplate>
            </Empty>
        }
        else
        {
            <AntList Grid="grid" DataSource="@Tools">
                <ListItem >
                    <Card Hoverable Style="border-radius: 10px;" BodyStyle="margin: 5px auto">
                        <Flex Vertical Justify="space-between" Align="flex-start" Style="height: 200px">
                            <div>
                                <Flex>
                                    <Image Src="@context.IconUrl"/>
                                    <Title Level="2">@context.Name</Title>
                                </Flex>
                                @foreach (var tag in context.Tag?.Split(",")!)
                                {
                                    <Tag Color="blue-inverse">@tag</Tag>
                                }
                            </div>
                            <Space>
                                <SpaceItem>
                                    <Button Type="@ButtonType.Primary" OnClick="@(() => Nav.NavigateTo(context.Url))">
                                        去看看
                                    </Button>
                                </SpaceItem>
                                @if (IsAdmin)
                                {
                                    <SpaceItem>
                                        <Button Type="@ButtonType.Primary" OnClick="@(() => OpenModal(context))">更改</Button>
                                    </SpaceItem>
                                    <SpaceItem>
                                        <Button Danger OnClick="@(() => Delete(context))">删除</Button>
                                    </SpaceItem>
                                }
                            </Space>
                        </Flex>
                    </Card>
                </ListItem>
            </AntList>
        }
    </Context>
</PageView>

<Modal @bind-Visible="@_visible" Footer="@null">
    <Form Model="Data"
          OnFinish="OnFinish" ValidateMode="FormValidateMode.Rules">
        <FormItem Class="item" Label="任务名称" Rules="@SignRecord.TaskTitleRules">
            <Input @bind-Value="@context.Name"/>
        </FormItem>
        <FormItem Class="item" Label="任务描述" Rules="@SignRecord.TaskDescriptionRules">
            <TextArea @bind-Value="@context.Description" ></TextArea>
        </FormItem>
        <FormItem Class="item" Label="任务链接">
            <Input @bind-Value="@context.Url"/>
        </FormItem>
        <FormItem Class="item" Label="任务封面">
            <Input @bind-Value="@context.IconUrl"/>
        </FormItem>
        <FormItem Class="item" Label="任务标签">
            <Input @bind-Value="@context.Tag"/>
        </FormItem>
        <FormItem Style="text-align: center">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                @if (_isNew)
                {
                    <p>添加</p>
                }
                else
                {
                    <p>更改</p>
                }
            </Button>
        </FormItem>
    </Form>
</Modal>

@code
{
    private static ListGridType grid => new()
    {
        Gutter = 16,
        Xs = 1,
        Sm = 2,
        Md = 3,
        Lg = 3,
        Xl = 3,
        Xxl = 3,
    };

    [CascadingParameter] private MemberModel Member { get; set; } = new();
    private List<ToolModel> Tools { get; set; } = [];
    private bool IsAdmin { get; set; }
    private ToolModel Data { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        Tools = await context.Tools.ToListAsync();
        IsAdmin = Member.Identity.Contains("President") || Member.Identity.Contains("Minister");
    }

    private async Task Delete(ToolModel model)
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        var toolModel = await context.Tools.FirstAsync(x => x.Id == model.Id);
        context.Tools.Remove(toolModel);
        await context.SaveChangesAsync();
        Tools.Remove(model);
        await MessageService.Success("删除成功");
    }

    private void OpenModal()
    {
        _visible = true;
        _isNew = true;
    }

    private void OpenModal(ToolModel model)
    {
        Data = model;
        _visible = true;
        _isNew = false;
    }

    private bool _visible;
    private bool _isNew;

    private async Task OnFinish()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        if (_isNew)
        {
            context.Tools.Add(Data);
            Tools.Add(Data);
        }
        else
        {
            var tool = await context.Tools.FirstAsync(x => x.Id == Data.Id);
            tool.Update(Data);
        }

        await context.SaveChangesAsync();
        _visible = false;
        _isNew = false;
        await MessageService.Success("更改成功");
    }
}