@layout MainLayout
@inherits LayoutComponentBase
@inject NavigationManager Nav

<Drawer Placement="top" Closable="false"
        Visible="@_drawerVisible"
        OffsetY="64"
        OnClose="@(() => _drawerVisible = false)">
    <Flex Gap="large" Vertical>
        <Button Type="@ButtonType.Text" Class="menu-button"
                OnClick="@(() => { Nav.NavigateTo("/About"); _drawerVisible = false; })">
            关于我们
        </Button>
        <Button Type="@ButtonType.Text" Class="menu-button"
                OnClick="@(() => { Nav.NavigateTo("/Event"); _drawerVisible = false; })">
            社团活动
        </Button>
        <Button Type="@ButtonType.Primary" Class="menu-button"
                OnClick="@(() => { Nav.NavigateTo("/Login"); _drawerVisible = false; })">
            登录/注册
        </Button>
    </Flex>
</Drawer>

<Layout Class="layout">
    <Header Style="background: #fff">
        <Flex Align="center" Justify="space-between" Class="phone-desktop-flex">
            <a href="/">
                <Image Src="iOS_Club_LOGO.png" Preview="false" Style="width:40px; height:40px"/>
            </a>
            <Button Size="@AntSizeLDSType.Large" Type="@ButtonType.Text"
                    OnClick="@(() => _drawerVisible = !_drawerVisible)">
                <Icon Type="menu" Theme="outline" Style="font-size: 30px;"/>
            </Button>
        </Flex>
        <Flex Align="center" Justify="space-between" Class="desktop-phone-flex">
            <a href="/">
                <Flex Gap="large">
                    <Image Src="iOS_Club_LOGO.png" Preview="false" Style="width:40px; height:40px"/>
                    <div style="font-size: 24px;font-weight: bold;color: #1c1f23">XAUAT iOS Club</div>
                </Flex>
            </a>
            <Flex Gap="large">
                <Button Type="@ButtonType.Text" Class="menu-button"
                        OnClick="@(() => { Nav.NavigateTo("/About"); _drawerVisible = false; })">
                    关于我们
                </Button>
                <Button Type="@ButtonType.Text" Class="menu-button"
                        OnClick="@(() => { Nav.NavigateTo("/Event"); _drawerVisible = false; })">
                    社团活动
                </Button>
                <Button Type="@ButtonType.Primary" Class="menu-button"
                        OnClick="@(() => { Nav.NavigateTo("/Login"); _drawerVisible = false; })">
                    登录/注册
                </Button>
            </Flex>
        </Flex>
    </Header>
    <Content Style="background: #ffffff">
        @Body
    </Content>
    <Footer Class="footer">
        <p>
            Copyright
            <Icon Type="copyright" Theme="outline"/>
            2023 - 2024 XAUAT iOS Club
        </p>
        <Space>
            <Split>
                <Divider Type="DirectionVHType.Vertical"/>
            </Split>
            <ChildContent>
                <SpaceItem Class="desktop-phone-flex">
                    <a href="https://cn.xauat.edu.cn/" target="_blank">西安建筑科技大学</a>
                </SpaceItem>
                <SpaceItem>
                    <a href="https://beian.miit.gov.cn/" target="_blank">备案号 陕ICP备2024031872号</a>
                </SpaceItem>
                <SpaceItem Class="desktop-phone-flex">
                    <a href="https://gitee.com/XAUATiOSClub" target="_blank">我们的Gitee组织</a>
                </SpaceItem>
            </ChildContent>
        </Space>
    </Footer>
</Layout>

@code
{
    private bool _drawerVisible;
}

<style>
    .layout {
        min-height: 100vh;
    }

    .footer {
        text-align: center;
    }

    .menu-button {
        border-radius: 10px;
    }
    
    @@media screen and (max-width: 768px) {
        .menu-button {
            border-radius: 0;
        }
    }

    .ant-drawer-content {
        border-radius: 0 0 10px 10px;
        padding-top: 10px;
        border: hidden;
    }
</style>