@page "/Centre/EditProject/{Id?}"
@using iOSClub.Share
@using iOSClub.Share.Data
@using iOSClub.Table.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SignContext> DbFactory
@inject NavigationManager Nav
@inject MessageService MessageService

<PageView>
    <Context>
        <Form Model="Project"
              ValidateMode="@FormValidateMode.Rules"
              RequiredMark="FormRequiredMark.None"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed">
            <FormItem Class="item" Label="项目名称">
                <Input @bind-Value="@context.Title"/>
            </FormItem>
            <FormItem Class="item" Label="项目名称" Rules="@SignRecord.ProjectNameRules">
                <RadioGroup @bind-Value="@context.DepartmentName">
                    @foreach (var item in DepartmentNames)
                    {
                        <Radio RadioButton Value="@item">@SignRecord.DepartmentDictionary[item]</Radio>
                    }
                </RadioGroup>
            </FormItem>
            <FormItem Class="item" Label="项目开始时间">
                <DatePicker @bind-Value="@context.StartTime" Format="yyyy年MM月dd日" Mask="yyyy年MM月dd日"/>
            </FormItem>
            <FormItem Class="item" Label="项目结束时间">
                <DatePicker @bind-Value="@context.EndTime" Format="yyyy年MM月dd日" Mask="yyyy年MM月dd日"/>
            </FormItem>
            <FormItem Class="item" Label="项目描述" Rules="@SignRecord.ProjectDescriptionRules">
                <TextArea @bind-Value="@context.Description" ></TextArea>
            </FormItem>
            <FormItem Style="text-align: center">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    @if (string.IsNullOrEmpty(Id))
                    {
                        <p>添加</p>
                    }
                    else
                    {
                        <p>更改</p>
                    }
                </Button>
            </FormItem>
        </Form>
    </Context>
</PageView>

@code {
    [Parameter] public string? Id { get; set; }
    private ProjectEditModel Project { get; set; } = new();
    [CascadingParameter] private MemberModel Member { get; set; } = new();
    private readonly List<string> DepartmentNames = ["All"];

    protected override async Task OnInitializedAsync()
    {
        var identity = Member.Identity.Replace("Minister", "").Replace("Member", "");
        if (identity == "President")
            DepartmentNames.AddRange(new[] { "Technology", "NewMedia", "Practical" });
        else
            DepartmentNames.Add(identity);

        if (!string.IsNullOrEmpty(Id))
        {
            await using var context = await DbFactory.CreateDbContextAsync();
            var a = await context.Projects.FirstOrDefaultAsync(x => x.Id.ToString() == Id);
            if (a == null)
            {
                await MessageService.Error("项目不存在");
                Nav.NavigateTo("/Centre/Project");
                return;
            }

            Project = ProjectEditModel.FromProject(a);
        }

        await base.OnInitializedAsync();
    }

    private async Task OnFinish()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        if (string.IsNullOrEmpty(Id))
        {
            var p = Project.ToProject();
            var staff = await  context.Staffs.FirstOrDefaultAsync(x => x.UserId == Member.UserId);
            if (staff == null)
            {
                await MessageService.Error("用户不存在");
                return;
            }
            p.Staffs.Add(staff);
            await context.Projects.AddAsync(p);
            await context.SaveChangesAsync();
            await MessageService.Success("添加成功");
            Nav.NavigateTo("/Centre/Department");
        }
        else
        {
            var a = await context.Projects.FirstOrDefaultAsync(x => x.Id.ToString() == Id);
            if (a == null)
            {
                await MessageService.Error("项目不存在");
                Nav.NavigateTo("/Centre/Department");
                return;
            }

            a.Title = Project.Title;
            a.StartTime = Project.StartTime.ToString("yyyy年MM月dd日");
            a.EndTime = Project.EndTime.ToString("yyyy年MM月dd日");
            a.Description = Project.Description;
            await context.SaveChangesAsync();
            await MessageService.Success("更改成功");
            Nav.NavigateTo("/Centre/Department");
        }
    }

    private async Task OnFinishFailed()
    {
        await MessageService.Error("出问题了");
    }
}