@page "/Centre/EditProject/{Id?}"
@using iOSClub.Share.Data
@using iOSClub.Table.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SignContext> DbFactory
@inject NavigationManager Nav
@inject MessageService MessageService

<PageView>
    <Context>
        <Form Model="Project"
              ValidateMode="@FormValidateMode.Rules"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed">
            <FormItem Class="item" Label="项目名称">
                <Input @bind-Value="@context.Title"/>
            </FormItem>
            <FormItem Class="item" Label="项目名称" Rules="@SignRecord.ProjectNameRules">
                <RadioGroup @bind-Value="@context.DepartmentName">
                    @foreach (var item in DepartmentNames)
                    {
                        <Radio RadioButton Value="@item">@Dictionary[item]</Radio>
                    }
                </RadioGroup>
            </FormItem>
            <FormItem Class="item" Label="项目开始时间">
                <DatePicker TValue="DateTime" bind-Value="@context.StartTime" Format="yyyy年MM月dd日" Mask="yyyy年MM月dd日"/>
            </FormItem>
            <FormItem Class="item" Label="项目结束时间">
                <DatePicker TValue="DateTime" bind-Value="@context.EndTime" Format="yyyy年MM月dd日" Mask="yyyy年MM月dd日"/>
            </FormItem>
            <FormItem Class="item" Label="项目描述" Rules="@SignRecord.ProjectDescriptionRules">
                <TextArea @bind-Value="@context.Description" ></TextArea>
            </FormItem>
            <FormItem Style="text-align: center">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    @if (string.IsNullOrEmpty(Id))
                    {
                        <p>添加</p>
                    }
                    else
                    {
                        <p>更改</p>
                    }
                </Button>
            </FormItem>
        </Form>
    </Context>
</PageView>

@code {
    [Parameter] public string? Id { get; set; }
    private ProjectEditModel Project { get; set; } = new();
    [CascadingParameter] private MemberModel Member { get; set; } = new();
    private List<string> DepartmentNames => ["All"];

    private static Dictionary<string, string> Dictionary => new()
    {
        ["All"] = "所有",
        ["Technology"] = "科技部",
        ["NewMedia"] = "新媒体部",
        ["Practical"] = "交流实践部"
    };

    protected override async Task OnInitializedAsync()
    {
        var identity = Member.Identity.Replace("Minister", "").Replace("Member", "");
        if (identity == "President")
            DepartmentNames.AddRange(new[] { "Technology", "NewMedia", "Practical" });
        else
            DepartmentNames.Add(identity);

        if (!string.IsNullOrEmpty(Id))
        {
            await using var context = await DbFactory.CreateDbContextAsync();
            var a = await context.Projects.FirstOrDefaultAsync(x => x.Id.ToString() == Id);
            if (a == null)
            {
                await MessageService.Error("项目不存在");
                Nav.NavigateTo("/Centre/Project");
                return;
            }

            Project = ProjectEditModel.FromProject(a);
        }

        await base.OnInitializedAsync();
    }

    private async Task OnFinish()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        if (string.IsNullOrEmpty(Id))
        {
            await context.Projects.AddAsync(Project.ToProject());
            await context.SaveChangesAsync();
            await MessageService.Success("添加成功");
            Nav.NavigateTo("/Centre/Department");
        }
        else
        {
            var a = await context.Projects.FirstOrDefaultAsync(x => x.Id.ToString() == Id);
            if (a == null)
            {
                await MessageService.Error("项目不存在");
                Nav.NavigateTo("/Centre/Department");
                return;
            }

            a.Title = Project.Title;
            a.StartTime = Project.StartTime.ToString("yyyy年MM月dd日");
            a.EndTime = Project.EndTime.ToString("yyyy年MM月dd日");
            a.Description = Project.Description;
            await context.SaveChangesAsync();
            await MessageService.Success("更改成功");
            Nav.NavigateTo("/Centre/Department");
        }
    }

    private async Task OnFinishFailed()
    {
        await MessageService.Error("出问题了");
    }


    private class ProjectEditModel
    {
        public string Title { get; set; } = "";
        public string DepartmentName { get; set; } = "";
        public DateTime StartTime { get; private init; }
        public DateTime EndTime { get; private init; }
        public string Description { get; set; } = "";

        public static ProjectEditModel FromProject(ProjectModel project)
            => new()
            {
                Title = project.Title,
                DepartmentName = project.DepartmentName,
                StartTime = DateTime.TryParse(project.StartTime, out var startTime) ? startTime : DateTime.Today,
                EndTime = DateTime.TryParse(project.EndTime, out var endTime) ? endTime : DateTime.Today.AddDays(7),
                Description = project.Description
            };

        public ProjectModel ToProject()
            => new()
            {
                Title = Title,
                DepartmentName = DepartmentName,
                StartTime = StartTime.ToString("yyyy年MM月dd日"),
                EndTime = EndTime.ToString("yyyy年MM月dd日"),
                Description = Description
            };
    }

}