@page "/Signup/{Text?}"
@using Microsoft.EntityFrameworkCore
@using iOSClub.Table.Data
@inject IDbContextFactory<SignContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>iOS Club - 注册</PageTitle>


<Form TModel="SignModel"
      Model="Model"
      class="bg-login"
      Layout="vertical"
      ValidateMode="@FormValidateMode.Rules"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <h2 style="color: #f5f5f7;">注册</h2>
    <FormItem Class="item" Label="姓名" LabelStyle="color: #f5f5f7;" Rules="@(UserNameRules)">
        <Input @bind-Value="@context.UserName"/>
    </FormItem>
    <FormItem Class="item" Label="性别" LabelStyle="color: #f5f5f7;" Rules="GenderRules">
        <SimpleSelect @bind-Value="@context.Gender">
            <SelectOptions>
                @foreach (var item in Genders)
                {
                    <SimpleSelectOption Value="@item" Label="@item"></SimpleSelectOption>
                }
            </SelectOptions>
        </SimpleSelect>
    </FormItem>
    <FormItem Class="item" Label="学号" LabelStyle="color: #f5f5f7;" Rules="IdRules">
        <Input @bind-Value="@context.Id">
    </FormItem>
    <FormItem Class="item" Label="学院" LabelStyle="color: #f5f5f7;" Rules="AcademyRules">
        <SimpleSelect @bind-Value="@context.Academy">
            <SelectOptions>
                @foreach (var item in Academies)
                {
                    <SimpleSelectOption Value="@item" Label="@item"></SimpleSelectOption>
                }
            </SelectOptions>
        </SimpleSelect>
    </FormItem>
    <FormItem Class="item" Label="政治面貌" LabelStyle="color: #f5f5f7;" Rules="PoliticalLandscapeRules">
        <SimpleSelect @bind-Value="@context.PoliticalLandscape">
            <SelectOptions>
                @foreach (var item in PoliticalLandscapes)
                {
                    <SimpleSelectOption Value="@item" Label="@item"></SimpleSelectOption>
                }
            </SelectOptions>
        </SimpleSelect>
    </FormItem>
    <FormItem Class="item" Label="专业班级" LabelStyle="color: #f5f5f7;" Rules="ClassNameRules">
        <Input @bind-Value="@context.ClassName">
    </FormItem>
    <FormItem Class="item" Label="手机号码" LabelStyle="color: #f5f5f7;" Rules="PhoneNumRules">
        <Input @bind-Value="@context.PhoneNum">
    </FormItem>

    <FormItem Class="item" WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">提交</Button>
    </FormItem>
</Form>


@code
{
    [Parameter]
    public string? Text { get; set; }

    private readonly string[] Academies =
    {
        "信息与控制工程学院",
        "理学院",
        "机电学院",
        "建筑学院",
        "机电工程学院",
        "管理学院",
        "土木工程学院",
        "环境与市政工程学院",
        "建筑设备科学与工程学院",
        "材料科学与工程学院",
        "冶金工程学院",
        "资源工程学院",
        "文学院",
        "艺术学院",
        "马克思主义学院",
        "公共管理学院",
        "化学与化工学院",
        "体育学院",
        "安德学院",
        "未来技术学院"
    };

    private readonly string[] PoliticalLandscapes =
    {
        "群众",
        "共青团员",
        "中共党员",
        "中共预备党员"
    };

    private readonly string[] Genders = { "男", "女" };
    public SignModel Model { get; } = new();


    private async Task OnFinish()
    {
        if (Loading)
            return;
        try
        {
            Loading = true;
            await using var context = await DbFactory.CreateDbContextAsync();
            var f = await context.Students.FirstOrDefaultAsync(x => x.Id == Model.Id);
            if (f == null)
                context.Students.Add(Model);
            else
            {
                f.UserName = Model.UserName;
                f.Academy = Model.Academy;
                f.ClassName = Model.ClassName;
                f.PhoneNum = Model.PhoneNum;
                f.Gender = Model.Gender;
                f.PoliticalLandscape = Model.PoliticalLandscape;
            }
            await context.SaveChangesAsync();
        }
        finally
        {
            Loading = false;
        }

        if (Text == "mc")
        {
            NavigationManager.NavigateTo("/QRCode");
            return;
        }
        NavigationManager.NavigateTo("https://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=OBvNEKKtJIILY5CKtWVtnWmHjESZBVdI&authKey=rsTTBwwSZS9TBFqmZSJuTPWYf3zoSyokaLrAN5XYUvsN%2FMpw90O6scuR4v4y67bK&noverify=0&group_code=952954710");
    }

    private bool Loading { get; set; }

    private void OnFinishFailed()
    {
        Console.WriteLine("出问题了");
        Loading = false;
    }

    private FormValidationRule[] UserNameRules => new FormValidationRule[] { new() { Pattern = @"^[\u4E00-\u9FA5A-Za-z\s]+(·[\u4E00-\u9FA5A-Za-z]+)*$", Message = "姓名出错!", Required = true } };

    private FormValidationRule[] IdRules => new FormValidationRule[] { new() { Len = 10, Message = "学号出错!", Pattern = "(19|20|21|22|23)([0-9]{8})", Required = true } };

    private FormValidationRule[] PhoneNumRules => new FormValidationRule[] { new() { Len = 11, Pattern = "^1\\d{10}$", Message = "手机号不正确!", Required = true } };

    private FormValidationRule[] ClassNameRules => new FormValidationRule[] { new() { Pattern = @"[\u4e00-\u9fa5]+[0-9]{4}", Message = "班级姓名出错!", Required = true } };

    private FormValidationRule[] GenderRules => new FormValidationRule[] { new() { Required = true ,Message = "性别没填!"} };

    private FormValidationRule[] AcademyRules => new FormValidationRule[] { new() { Required = true ,Message = "学院没填!"} };

    private FormValidationRule[] PoliticalLandscapeRules => new FormValidationRule[] { new() { Required = true ,Message = "政治面貌没填!"} };
}

<style>
    .bg-login {
    
      border-radius: 10px;
      margin: auto;
    
      overflow: hidden;
      padding: 38px;
    
      background: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    }
    .item{
        padding-left: 10px;
        padding-right: 10px;
    }
</style>