@page "/Event"
@using iOSClub.Share
@using iOSClub.Share.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SignContext> DbFactory

<PageTitle>社团活动 - 西建大iOS Club</PageTitle>

<meta name="referrer" content="never">

<div class="container">
    <GridRow Gutter="16">
        @foreach (var context in Models)
        {
            <GridCol Xs="24" Sm="24" Md="24" Lg="12" Xl="12" Xxl="12">
                <Card Hoverable Class="div">
                    <Flex Justify="space-between">
                        <img alt="@context.Title"
                             src="@context.Cover"
                             style="display:block;width:273px;"/>
                        <Flex Vertical Align="flex-end" Class="Digest" Justify="space-between" Style="padding: 32px;">
                            <Title Level="3">
                                @context.Title
                            </Title>
                            <a href="@context.Link" target="_blank">
                                <Button Type="@ButtonType.Primary">
                                    去看看
                                </Button>
                            </a>
                        </Flex>
                    </Flex>
                </Card>
            </GridCol>
        }
    </GridRow>
</div>

@code {

    private EventModel[] Models { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        Models = await context.Events.Take(4).ToArrayAsync();
        await base.OnInitializedAsync();
    }

}

<style>
    .div{
        margin: 10px;  
        height: 270px;
        max-width: 100%;
    }
    
    .div h2{
        color: #f5f5f7;
        animation: fade-in 1s ease-in-out;
        margin: 0;
    }
    
</style>