@page "/Event"
@using iOSClub.Share.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SignContext> DbFactory

<PageTitle>社团活动</PageTitle>

<meta name="referrer" content="never">

@for (var index = Models.Length - 1 - 5*(Index - 1); index > G(); index--)
{
    var index1 = index;
    var item = Models[index1];
    
    <GridRow Class="container">
        @if (index1 % 2 == 0)
        {
            <GridCol Span="12">
                <div class="div">
                    <a href="@item.Link" target="_blank">
                        <h3>@item.Title</h3>
                        <p class="Digest">@item.Digest</p>
                    </a>
                </div>
            </GridCol>
            <GridCol Span="12">
                <Image Src="@item.Cover"/>
            </GridCol>
        }
        else
        {
            <GridCol Span="12">
                <Image Src="@item.Cover"/>
            </GridCol>
            <GridCol Span="12">
                <div class="div">
                    <a href="@item.Link" target="_blank">
                        <h3>@item.Title</h3>
                        <p class="Digest">@item.Digest</p>
                    </a>
                </div>
            </GridCol>
        }
    </GridRow>
}

@if (Models.Length > 5)
{
    <Pagination Style="text-align: center" OnChange="@Callback" PageSize="5" Total="@Models.Length"/>
}

@code {

    private int Index { get; set; } = 1;
    private EventModel[] Models { get; set; } = Array.Empty<EventModel>();

    private int G()
    {
        var i = Models.Length - 1 - 5 * Index;
        return i < 0 ? -1 : i;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await using var context = await DbFactory.CreateDbContextAsync();
        Models = await context.Events.ToArrayAsync();
    }

    private void Callback(PaginationEventArgs obj)
    {
        Index = obj.Page;
        StateHasChanged();
    }

}

<style>
    .div{
        margin: 10px;  
    }
    
    .div h3{
        color: #f5f5f7;
        animation: fade-in 1s ease-in-out;
        margin: 0;
    }
    
</style>